# File to specify which file extensions or folders git shouldn't track

# Mac-related files
.DS_Store

# Word document and Excelfiles
*.docx
*.doc
*.xlsx
*.xls

~*
*~

# Object files
*.o

# Executable files
*.exe
*.out

# Files associated with latex processing
*.toc
*.aux
*.dvi
*.log
*.bbl
*.blg

# Sweave files
*.synctex.gz(busy)

# Python byte-code
*.pyc

# R-related files
.Rhistory

# 'Old' files:
*.old


# Files associated with the trial
#data/RAW_PRIORS/community_dictionary_withtrialarm.csv
#data/GENERATED_PRIORS/
#data/SAMPLED_PARAMETERS/

# Graphs from calibration:
IBM_simul/calibration/*.pdf
IBM_simul/python/*.pdf
IBM_simul/python/OLD_STUFF
IBM_simul/plotting/*.pdf
IBM_simul/plotting/*.csv
IBM_simul/src/temp*
IBM_simul/src/old
IBM_simul/src/GPROF
IBM_simul/src/NOTES_18aug2019
IBM_simul/src/test.sh
IBM_simul/src/gprof.txt
IBM_simul/src/valgrind-out.txt

IBM_simul/calibration/*.csv
IBM_simul/calibration/goodfits*.txt

IBM_simul/results*


IBM_simul/data/SAMPLED_PARAMETERS/
IBM_simul/data/GENERATED_PRIORS/

IBM_simul/tests/MIHPSA/params/
IBM_simul/tests/MIHPSA/src/

IBM_simul/projects/MIHPSA/data/GENERATED_PRIORS/
IBM_simul/projects/MIHPSA/data/SAMPLED_PARAMETERS/
IBM_simul/projects/MIHPSA/results/
IBM_simul/projects/MIHPSA/src/valgrind*
IBM_simul/IMPACT/*.pdf
IBM_simul/IMPACT/params

IBM_simul/TEMPLATE_IMPACT/results/
IBM_simul/TEMPLATE_IMPACT/IMPACT/src
IBM_simul/TEMPLATE_IMPACT/IMPACT/sweave/*.pdf
IBM_simul/TEMPLATE_IMPACT/IMPACT/sweave/*.tex
IBM_simul/TEMPLATE_IMPACT/IMPACT/sweave/*.log
IBM_simul/TEMPLATE_IMPACT/IMPACT/sweave/*.aux
IBM_simul/TEMPLATE_IMPACT/IMPACT/*.csv


IBM_simul/Manicaland_hpc_dir/
IBM_simul/Manicaland_hpc_dir_test/
IBM_simul/OTHER_LAPTOP/


# Some output files:
HIVPrevCasc_Indiv_run*.csv
